:root {
  --bg-color: rgb(17 24 39);
  --contrast-color: white;
  --btn-bg: rgb(0, 121, 107);
  --btn-state: rgb(4, 161, 143);
  --btn-click: rgb(22, 52, 189);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--contrast-color);
  box-sizing: border-box;
}

.container {
  border: 1px solid var(--contrast-color);
}

.input-btn {
  margin-bottom: 2rem;
}

button {
  padding: 0.75rem 2rem;
  background-color: var(--btn-bg);
  color: var(--contrast-color);
  border: none;
  font-weight: bold;
  margin-right: 1rem;
}

button,
dialog,
.container,
input,
select,
.container div {
  border-radius: 5px;
}

button:hover {
  padding: 0.85rem 2rem;
  background-color: var(--btn-state);
}

button:active {
  padding: 0.9 2rem;
  background-color: var(--btn-click);
}

dialog,
.container {
  padding: 5rem;
}

dialog div,
.container div {
  margin-bottom: 2rem;
}

.container div {
  border: 1px solid var(--contrast-color);
  padding: 1rem;
}

input,
select {
  height: 25px;
  width: 200px;
  margin-left: 1rem;
}
