:root {
  --bg-color: rgb(17 24 39);
  --contrast-color: white;
  --btn-bg: rgb(0, 121, 107);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--contrast-color);
}

.container {
  border: 1px solid var(--contrast-color);
}

button {
  padding: 0.75rem 2rem;
  background-color: var(--btn-bg);
  color: var(--contrast-color);
  border: none;
  font-weight: bold;
  margin-right: 1rem;
}

button,
dialog,
.container,
input,
select {
  border-radius: 5px;
}

dialog,
.container {
  padding: 5rem;
}

dialog div {
  margin-bottom: 2rem;
}

input,
select {
  height: 25px;
  width: 200px;
  margin-left: 1rem;
}
